body {
  background-color: rgb(170, 170, 170)
}

h1 {
  font-size: 35px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  padding: 15px;
  display: block;
  margin: 3% auto;
}

p {
  font-size: 18px;
  text-align: center;
}

#img-div {
  text-align: center;
  background-color: white;
}